.card-animation-on-hover {
    transition: all 0.2s cubic-bezier(0.34, 1.61, 0.7, 1);
    &:hover {
      transform: translate3d(0, -26px, 0);
    }
  }
  
  .gradient-background-light {
    background: linear-gradient(62deg, #4b0799, #3f0f75, #074b64, #04436d);
      animation: gradient 15s ease infinite; 
       background-size: 400% 400%;
   
 }

 .gradient-background-dark {
    background: linear-gradient(62deg, #EE7752, #bc3ce7, #23A6D5, #23D5AB);
      animation: gradient 15s ease infinite; 
       background-size: 400% 400%;
   
 }



 @-webkit-keyframes gradient{
   0% {
     background-position: 0 50%;
   }
   50% {
     background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
 }
 @keyframes gradient{
   0% {
     background-position: 0 50%;
   }
   50% {
     background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
 }