<div class="row justify-content-center">
    <div class="col-md-6 col-sm-3 text-center">
        <button type="button" class="btn btn-primary text-center" (click)="toYourNfts()">
            <span>
                <app-wings-icon></app-wings-icon>
                <p>Your Nfts</p>
            </span>
        </button>
    </div>
</div>

<div class="d-flex justify-content-center mt-3"><img src="../../../../assets/img/appolloNFTHeading.svg" alt=""></div>
<div class="container mt-1">
    <div class="row d-flex justify-content-center">
        <div *ngFor="
        let nft of marketNfts
          | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize" class="card col-md-4 col-sm-2"
            (mouseover)='nft.dispayCountdown = true' (mouseout)='nft.dispayCountdown = false'
            [ngClass]="color ? 'gradient-background-dark' : 'gradient-background-light'"
            style="width: 20rem; margin: 1rem; border: solid rgb(166, 79, 245) 1px">
            <img class="card-img-top" data-src="{{ nft?.nftData.uri}}" alt="Card image cap" />
            <div *ngIf="!loading" class="card-body">
                <p class="card-text text-center h4">{{ nft?.nftData.name }}</p>
                <p class="card-text text-center">{{ nft?.nftData.description }}</p>
                <p class="card-text text-center h4">created on: {{ nft?.createdAt.toDate() | date: 'dd/MM/yyyy' }}
                <p class="card-text text-center h4">created by: {{ nft?.nftData.createdBy }}
                </p>
                <div *ngIf="nft.dispayCountdown">
                    <app-countdown [auctionStart]="nft?.createdAt.toDate()"></app-countdown>
                </div>
                <app-nft-market-card-nav [nft]="nft"></app-nft-market-card-nav>
            </div>
        </div>
    </div>
    <nav *ngIf="!loading" aria-label="Page navigation example">
        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="marketNfts?.length" [(page)]="page">
            <ng-template ngbPaginationPrevious>Previous</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>
        </ngb-pagination>
    </nav>
</div>