<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <div class="carousel-caption">
            <h3 class="step1-header">
                Step #1 First Add Meta Mask to your
                Chrome Extensions</h3>
        </div>
        <div class="picsum-img-wrapper">
            <img class="step-one-img" src="../../../../assets/img/MetaMaskStep1.png" alt="First slide">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="carousel-caption">
            <h3 class="step2-header">Step #2 Create Or Import A Wallet. <br>
                Please make sure to Save Your Seed Phrase...</h3>
        </div>
        <div class="picsum-img-wrapper">
            <img src="../../../../assets/img/MetaMaskStart.png" alt="Random second slide">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="carousel-caption">
            <h3 class="step3-header">Step #3 Deposit Ethereum. <br> Click Buy to Purchase Ethereum or Purchase from an
                Exchange...</h3>
        </div>
        <div class="picsum-img-wrapper">
            <img src="../../../../assets/img/MetaMaskDepositEth.png" alt="Random third slide">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="carousel-caption">
            <h3 class="step4-header">Step #4 Click Add Token. <br> Click Custom Token and add the Appollo Token Address</h3>
        </div>
        <div class="carousel-caption">
            <p class="token-address">0xBbd6050809E60e185DE290209a............</p>
        </div>
        <div class="picsum-img-wrapper">
            <img style="height: 100%;width: 36%;"src="../../../../assets/img/AppolloCustomToken.png" alt="Random third slide">
        </div>
    </ng-template>
</ngb-carousel>