/* defines the animation */
@keyframes fadeInUp {
    from { 
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  div svg path {
    // first we make all instances of this transparent. 
    opacity: 0; 
    // as we're using the same animation for each instance, call it here so we're not repeating it
    animation: fadeIn 1s ease-in-out 2100ms forwards;
  
    // then define the animation delay in each class
    &.Candle1 {
      animation-delay: 100ms;
    }
    &.Candle2 {
      animation-delay: 200ms;
    }
    &.Candle3 {
      animation-delay: 300ms;
    }
    &.Candle4 {
      animation-delay: 400ms;
    }
    &.Candle5 {
      animation-delay: 500ms;
    }
    &.Candle6 {
      animation-delay: 600ms;
    }
    &.Candle7 {
        animation-delay: 700ms;
      }
      &.Candle8 {
        animation-delay: 800ms;
      }
      &.Candle9 {
        animation-delay: 900ms;
      }
      &.Candle10 {
        animation-delay: 1000ms;
      }
      &.Candle11 {
        animation-delay: 1100ms;
      }
      &.Candle12 {
        animation-delay: 1200ms;
      }
      &.Candle13 {
        animation-delay: 1300ms;
      }
      &.Candle14{
        animation-delay: 1400ms;
      }
      &.Candle15 {
        animation-delay: 1500ms;
      }
      &.Candle16 {
        animation-delay: 1600ms;
      }
      &.Candle17 {
        animation-delay: 1700ms;
      }
      &.Candle18 {
        animation-delay: 1800ms;
      }
      &.Candle19 {
        animation-delay: 1900ms;
      }
      &.Candle20{
        animation-delay: 2000ms;
      }
      &.Candle21 {
        animation-delay: 2100ms;
      }

   }

   @media only screen and (max-width: 600px) {
      .close-icon {
          color:white;
            position:relative;
            left: 95%;
            top:.25rem;
      }
  }

  @media only screen and (min-width: 600px) {
      .close-icon {
         display: none;

      }
  }