.mobile-cta  {
  font-size: 2rem;
  font-family: Impact;
  color:white;
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  .mobile-cta {
    display: none;
  }
}


span {
    font-size: 26px;
    font-family: Impact;
    color:white;
    width: fit-content;
    border-bottom: solid white 2px;
  }

  @media only screen and (max-width: 600px) {
    span {
        font-size: 16px;
        color:white;
        width: fit-content;
        border-bottom: solid white 1px;
      }

      .connect-Cta {
        font-size: 14px;
      }
      
      .btn {
        width: fit-content;
      }
  }