.sidebar {
  display: flex;
  color: #fff;
  background: rgb(39, 41, 61);
  max-width: 30rem;
  height: 100%;
  top:-5.5rem;
  left: -2rem;
}
#navbar-toggle {
  cursor: pointer;
}
#toggleView {
  margin-left: 44px;
}
.menu-icon {
  float: right;
}
.sidebar-nav {
  display: block;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-nav li a {
  padding-left: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  float: left;
  text-decoration: none;
  width: 100%;
  height: 70px;
  line-height: 25px;
  padding: 20px;
  vertical-align: center;
}
.sidebar-nav li a:hover {
  background: rgb(166, 79, 245);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
