@keyframes fadeIn {
  0% {
      opacity: 0;
 }
50%{
 opacity:1
}
  100% {
      opacity:0;
 }
}

path[class^="bar"] {
opacity: 0;
animation: fadeIn 5s ease;
animation-iteration-count: infinite;
}

path.bar1 {
  animation-delay: 500ms;
}
path.bar2 {
  animation-delay: 1s;
}
path.bar3 {
  animation-delay: 1.5s;
}
path.bar4 {
  animation-delay: 2s;
}
path.bar5 {
  animation-delay: 2.5s;
}
path.bar6 {
  animation-delay: 3s;
}
path.bar7 {
  animation-delay: 3.5s;
}
