strong {
    color: white;
}

.white-placeholder::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
  }

  .close-icon {
    position: absolute;
    font-size: 12px;
    font-family: Arial;
    top: 1rem;
    right: 2rem;
  }

  .whitelisted-notification {
    position:relative;
  }