strong {
    color: white;
}

.white-placeholder::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
  }

  .close-icon {
    position:absolute;
    font-size: 12px;
    font-family: Arial;
    top: 2%;
    left: 90%;
  }

  .whitelisted-notification {
    position:absolute;
    left: 60%;
    top: 60%;
  }