<div class="Jumbotron">
  <div class="row">
    <div
      class="card col-md-12 col-sm-12"
      style="border: solid rgb(255, 255, 255) 2px;background-color: transparent;">
      <div class="card-body wd-75">
        <form [formGroup]="myForm">
          <h6 class="heading-small text-muted">Profile information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-username"
                    >Username</label
                  >
                  <small
                  *ngIf="userName.invalid && userName.touched"
                  id="userNameHelpBlock"
                  class="form-text text-warning font-weight-bold"
                >
                  Your input is invalid.
                </small>
                  <input
                    formControlName="userName"
                    type="text"
                    id="input-username"
                    class="form-control form-control-alternative white-placeholder"
                    placeholder="Username"
                  />
                 
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-password"
                    >Password</label
                  >
                  <small
                    *ngIf="password.invalid && password.touched"
                    class="form-text text-warning font-weight-bold"
                    style="font-size: .75rem;"
                  >
                    Numbers,Letters,
                   <br>1 uppercase and <br> 1 special charactor.
                  </small>
                  <input
                    formControlName="password"
                    type="password"
                    id="input-password"
                    class="form-control form-control-alternative white-placeholder"
                    placeholder="Password"
                  />
                  
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-phone"
                    >Phone Number</label
                  >
                  <small
                  *ngIf="phone.invalid && phone.touched"
                  id="phoneHelpBlock"
                  class="form-text text-warning font-weight-bold"
                >
                  Your input is invalid.
                </small>
                  <input
                    formControlName="phone"
                    type="phone"
                    id="input-phone"
                    class="form-control form-control-alternative white-placeholder"
                    placeholder="(xxx) xxx-xxxx"
                  />
                 
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-email"
                    >Email Address</label
                  >
                  <small
                  *ngIf="email.invalid && email.touched"
                  id="emailHelpBlock"
                  class="form-text text-warning font-weight-bold"
                >
                  Your email address is invalid.
                </small>
                  <input
                    formControlName="email"
                    type="email"
                    id="input-email"
                    class="form-control form-control-alternative white-placeholder"
                    placeholder="email@example.com"
                  />
                 
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-email"
                    >Public Web3 Address</label
                  >
                  <small
                    *ngIf="web3Address.invalid && web3Address.touched"
                    id="Web3HelpBlock"
                    class="form-text text-warning font-weight-bold"
                  >
                    Your Web3 Address is invalid.
                  </small>
                  <input
                    formControlName="web3Address"
                    type="text"
                    id="input-web3Address"
                    class="form-control form-control-alternative white-placeholder"
                    placeholder="Paste Your Public Web3 Address"
                  />
                  
                </div>
              </div>
            </div>
        </div>

          <div class="row">
            <div class="col text-center mb-6">
              <button
                class="btn btn-info btn-lg"
                (click)="onSubmit()"
                [disabled]="this.myForm.status !== 'VALID'"
              >
                Join Us
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
