<app-navbar></app-navbar>
<!-- Using the cointainer Class -->
<div class="container-fluid">
  <h1 class="boldSales pageTitle">
    Using:
    <a href="https://www.npmjs.com/package/apollo-angular-boost">
      Apollo-Angular-Boost</a
    >
  </h1>
  <h3 class="boldSales pageTitle">
    please donate help us build a better experience :
  </h3>
  <h4>
    <a
      href="https://etherscan.io/address/0x4861A10aD69A7a6cA29384b21cA9b0F4D875af86"
    >
      <b class="walletAddress"> 0x4861A10aD69A7a6cA29384b21cA9b0F4D875af86 </b>
    </a>
  </h4>
</div>
<router-outlet></router-outlet>
