.white-placeholder::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: white;
}
.brand-display {
  height:20rem;
  width:20rem;
}

.count-down-text {
  margin: 1rem;
}

@media only screen and (max-width: 600px) {
  .brand-display-mobile {
    height: 16.5rem;
    width: 16.5rem;
  }
  .brand-display-logo-mobile {
    position: absolute;
    align-self: center;
    top:17em;
    height: 8rem;
    width: 8rem;
  }
  .count-down-mobile-text {
    font-size: smaller;
    margin: 1rem;
    break-after: left;
  }
}