<app-navbar></app-navbar>
<app-meta-sender></app-meta-sender>
<div class="container">
  <app-countdown></app-countdown>

  <div class="row"> <div class="text-white mx-auto h-100">Please Join Us in order to get whitelisted</div></div>
  <div *ngIf="!loggedIn">
    <div class="row justify-content-center">
      <img
        class="brand-display-mobile brand-display"
        src="../assets/img/appollo-text-logo.png"
      />
      <img
      class="brand-display-logo-mobile brand-display"
        src="../assets/img/appollo-logo.png"  
       
      />
    </div>
      <app-email-login></app-email-login>
      </div>
  </div>
  <router-outlet></router-outlet>