<!-- <div class="card">
  <div class="card-header">Balance</div>
  <div class="card-body">
    <div id="address-selector" class="address-field">
      <div (selectionChange)="refreshBalance()" value="model.account" placeholder="Address">
        <span *ngFor="let account of accounts" value="account">{{account}}</span>
      </div>
    </div>

    <p>You have <span id="balance">{{model.balance}}</span> META</p>
  </div>
</div>

<div class="card">
  <div class="card-header">Send MetaCoin</div>
  <div class="card-body">
      <input type="text" matInput id="amount" placeholder="Amount" (change)="setAmount($event)">
    <div class="address-field">
      <input type="text" matInput id="receiver" placeholder="Receiver Address" (change)="setReceiver($event)">
    </div>
    <button id="send" (click)="sendCoin()">Send MetaCoin</button>
  </div>
</div> -->


