<div class="container" style="border:solid white 3px; position:absolute;top:0;"
[ngStyle]="{'background-color': color ? 'rgb(121,141,179)' :'rgb(35,40,50)'}">
<div class="close-icon" (click)="closeModal()">X</div>
<img
  src="../assets/img/appollo-logo.png"
  style="width: 6rem; height: 6rem;"
/>
<img
  src="../assets/img/appollo-text-logo.png"
  style="width: 8rem; height: 8rem;"
/>
<div class="modal-body">
<h3 style="text-align:center;font-family:Impact;">
Every Spin is Completely Independent of the prior...</h3>
<h3 style="text-align:left; font-family:Impact">
    Every Purchase of Spins will be added to the lottery total Balance...
    If Your numbers align with the lottery you win the total balance...
  </h3>
<h3 style="text-align:left; font-family:Impact">
    Of Course play responsibly and Good Luck...
</h3>

  <h4 style="text-align:center">"The world of crypto currency is at your
        fingertips"...</h4>
  </div>
</div>