.musicians-size{
  width: 100%; 
  height: auto;
}

.rotate1{
    animation: rotate 700ms infinite;
}
.rotate2{
animation: rotate2 3s linear infinite;
}
.rotate3{
    animation: rotate3 3s linear infinite;
    }


@keyframes rotate {
    25% {
      transform:rotate(-1deg);
    }
    45% {
      transform:rotate(+1deg);
    }
  }
 
  @keyframes rotate2 {
    25% {
      transform:rotate(3deg);
    }
    40% {
      transform: rotate(-.2deg);
    }
  }

  @keyframes rotate3 {
    5% {
      transform: rotate(-.5deg);
    }
    10% {
        transform:rotate(-.35deg);
      }
    20% {
      transform:rotate(-.2deg);
    }
  }

  @media only screen and (max-width: 600px) {
      .close-icon {
          color:white;
            position:relative;
            left: 95%;
            top:.25rem;
      }
      
  }

  @media only screen and (min-width: 600px) {
      .close-icon {
         display: none;

      }
  }