.white-placeholder::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
  }
  .noHover{
    pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .loggin-btn-margin-top {
    margin-top: 1rem;
    margin-left: auto;
  }
}