<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngIf="isPasswordReset" class="mt-2 text-danger" style="font-size: large;"><p>Please enter your email address</p></div>
  <span>
    <strong class="form-text text-danger" style="font-size: large">
      {{ serverMessage }}
    </strong></span
  >  
  <div class="row">
        <input
        style="color: white"
        class="form-inline form-control white-placeholder col-md-3 col-sm-10"
        formControlName="email"
        type="email"
        placeholder="Email"
        autocomplete="off"
      />
      <input
        formControlName="password"
        style="color: white"
        class="form-inline form-control loggin-btn-margin-top white-placeholder ml-2 col-md-3 col-sm-10"
        type="password"
        placeholder="Password"
        autocomplete="off"
      />
      <button
        class="btn-sm btn-primary ml-2 col-md-2 col-sm-10 loggin-btn-margin-top"
        *ngIf="!isPasswordReset"
        type="submit"
        [disabled]="form.invalid || loading"
      >
        Log in
      </button>
    </div>
    <div *ngIf="isPasswordReset" class="mt-2">
      <button class="btn btn-success col-md-3 col-sm-10" type="submit" [disabled]="loading">
        Send Reset Email
      </button>
      <button class="btn btn-primary col-md-3 col-sm-10 ml-1" (click)="changeType('login')">
        Back
      </button>
  </div>
  </form>

  <div *ngIf="authService.user$ | async; then authenticated; else guest">
    <!-- template will replace this div -->
  </div>

  <!-- User NOT logged in -->
  <ng-template #guest>
    <div class="row mt-1">
      <button
        class="btn btn-danger col-md-3 col-sm-10"
        (click)="authService.googleSignin()"
      >
        <i class="fab fa-google"></i> Connect with Google
      </button>
      <button
        class="btn btn-info ml-2 col-md-3 col-sm-10"
        (click)="authService.googleSignin()"
      >
        <i class="fab fa-facebook-f"></i> Connect with Facebook
      </button>
      <button
        class="btn btn-success ml-2 col-md-2 col-sm-10"
        *ngIf="isLogin && !isPasswordReset"
        (click)="changeType('reset')"
      >
        Forgot password?
      </button>
    </div>
  </ng-template>

  <!-- User logged in -->
  <ng-template #authenticated>
    <div *ngIf="authService.user$ | async as user">
      <button
        class="btn"
        (click)="authService.signOut()"
      >
        Logout
      </button>
    </div>
  </ng-template>
  
