<div class="row justify-content-center">
    <div class="col-md-6 col-sm-3 text-center">
        <button type="button" class="btn btn-primary text-center">Your Nfts</button>
        <button type="button" class="btn btn-success ml-2 text-center" (click)="toNftMarket()">Nft Market</button>
        <button type="button" class="btn btn-info ml-2 text-center" (click)="createNft()">Nft Creation</button>
        <button type="button" class="btn btn-secondary ml-2 text-center">Nft Info</button>
    </div>
</div>

<div *ngIf="deleteBoolean" class="row justify-content-center mt-4 alert">
        <div class="bg-warning rounded text-center">
            <p class="text-white p-2">{{nftDeletMessage}}</p>
            <button class="btn btn-danger" (click)="deletNft()">Delete</button>
            <button class="btn btn-info ml-2" (click)="deleteBoolean = !deleteBoolean">Cancel</button>
        </div>
</div>
<p class="d-flex justify-content-center text-success mt-2 h3">Your Nfts</p>
<div class="container" style="margin-top: 1.5rem">
    <div class="row d-flex justify-content-center">
        <div class="card card-animation-on-hover col-md-4 col-sm-2"
            [ngStyle]="{'background-color': color ? 'rgb(121,141,179)' :'rgb(35,40,50)'}"
            style="width: 20rem; margin: 1rem; border: solid rgb(166, 79, 245) 1px" *ngFor="
              let nft of userNfts
                | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
            ">
            <img class="card-img-top" data-src="{{ nft.nftData.uri}}" alt="Card image cap" />
            <div *ngIf="!loading" class="card-body">
                <p class="card-text text-center h4">{{ nft.nftData.name }}</p>
                <p class="card-text text-center">{{ nft.nftData.description }}</p>
                <p *ngIf="nft.nftData.addedToMarket === true" class="text-success text-center h4">Currently in the Nft
                    Market</p>
                <a *ngIf="nft.nftData.addedToMarket === false" (click)="addNftToMarket(nft)"
                    class="btn btn-primary btn-sm d-flex justify-content-center text-center" style="color: white">Add to
                    Nft
                    Market</a>
                <a *ngIf="nft.nftData.addedToMarket === false" 
                    class="btn btn-info btn-sm d-flex justify-content-center mt-1 text-center"
                    style="color: white">Update Nft</a>
                <a *ngIf="nft.nftData.addedToMarket === false" (click)="deleteNonMarketNftAlert(nft)"
                    class="btn btn-danger btn-sm d-flex justify-content-center mt-1 text-center"
                    style="color: white">Delete Nft</a>
            </div>
        </div>
    </div>
    <nav *ngIf="!loading" aria-label="Page navigation example">
        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalPageElements" [(page)]="page">
            <ng-template ngbPaginationPrevious>Previous</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>
        </ngb-pagination>
    </nav>
</div>