<div class="Jumbotron">
<div class="card">
  <div class="card-body wd-75">
    <form [formGroup]="myForm">
      <h6 class="heading-small text-muted">User information</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group focused">
              <label class="form-control-label" for="input-username"
                >Username</label
              >
              <input
                formControlName="userName"
                type="text"
                id="input-username"
                class="form-control form-control-alternative"
                placeholder="Username"
              />
              <small
              *ngIf="userName.invalid && userName.touched"
              id="userNameHelpBlock"
              class="form-text text-danger"
            >
              Your input is invalid.
            </small>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-password"
                >Password</label
              >
              <input
                formControlName="password"
                type="password"
                id="input-password"
                class="form-control form-control-alternative"
                placeholder="Password"
              />
              <small id="passwordHelpBlock" class="form-text text-muted">
                Your password must be 8-20 characters, contain letters, numbers,
                one special character, and one capital letter.
              </small>
              <small
                *ngIf="password.invalid && password.touched"
                class="form-text text-danger"
              >
                Please enter your password
              </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group focused">
              <label class="form-control-label" for="input-first-name"
                >First name</label
              >
              <input
                formControlName="firstName"
                type="text"
                id="input-first-name"
                class="form-control form-control-alternative"
                placeholder="First name"
              />
              <small
              *ngIf="firstName.invalid && firstName.touched"
              id="firstNameHelpBlock"
              class="form-text text-danger"
            >
              Your input invalid.
            </small>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-email"
                >Email address</label
              >
              <input
                formControlName="email"
                type="email"
                id="input-email"
                class="form-control form-control-alternative"
                placeholder="email@example.com"
              />
              <small
              *ngIf="email.invalid && email.touched"
              id="emailHelpBlock"
              class="form-text text-danger"
            >
              Your email address is invalid.
            </small>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group focused">
              <label class="form-control-label" for="input-last-name"
                >Last name</label
              >
              <input
                formControlName="lastName"
                type="text"
                id="input-last-name"
                class="form-control form-control-alternative"
                placeholder="Last name"
              />
              <small
              *ngIf="lastName.invalid && lastName.touched"
              id="lastNameHelpBlock"
              class="form-text text-danger"
            >
              Your input is invalid.
            </small>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4" />
      <!-- Address -->
      <h6 class="heading-small text-muted mb-4">Contact information</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group focused">
              <label class="form-control-label" for="input-address"
                >Address</label
              >
              <input
                formControlName="address"
                id="input-address"
                class="form-control form-control-alternative"
                placeholder="Address"
                type="text"
              />
              <small
              *ngIf="address.invalid && address.touched"
              id="addressHelpBlock"
              class="form-text text-danger"
            >
              Your input is invalid.
            </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group focused">
              <label class="form-control-label" for="input-city">City</label>
              <input
                formControlName="city"
                type="text"
                id="input-city"
                class="form-control form-control-alternative"
                placeholder="City"
              />
              <small
              *ngIf="city.invalid && city.touched"
              id="cityHelpBlock"
              class="form-text text-danger"
            >
              Your input is invalid.
            </small>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group focused">
              <label class="form-control-label" for="input-country"
                >Country</label
              >
              <input
                formControlName="country"
                type="search"
                id="input-country"
                class="form-control form-control-alternative dropdown-toggle"
                placeholder="Country"
              />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-country"
                >Postal code</label
              >
              <input
                formControlName="postalCode"
                type="text"
                id="input-postal-code"
                class="form-control form-control-alternative"
                placeholder="Postal code"
              />
              <small
                *ngIf="postalCode.invalid && postalCode.touched"
                id="postalCodeHelpBlock"
                class="form-text text-danger"
              >
                Your postal code is invalid.
              </small>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4" />
    </form>
  </div>

  <div class="container">
    <div class="row">
      <div class="col text-center mb-4">
        <button class="btn btn-primary btn-lg" (click)="onsubmit()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
</div>
