<div class="card">
  <div class="card-body wd-75">
    <form>
      <h6 class="heading-small text-muted">User information</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group focused">
              <label class="form-control-label" for="input-username"
                >Username</label
              >
              <input
                [(ngModel)]="profileFormObject.userName"
                name="userName"
                type="text"
                id="input-username"
                class="form-control form-control-alternative"
                placeholder="Username"
                value="lucky.jesse"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-password"
                >Password</label
              >
              <input
                [(ngModel)]="profileFormObject.password"
                name="password"
                type="password"
                id="input-password"
                class="form-control form-control-alternative"
                placeholder="Password"
              />
              <small id="passwordHelpBlock" class="form-text text-muted">
                Your password must be 8-20 characters, contain letters and numbers, special characters, or emoji.
              </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group focused">
              <label class="form-control-label" for="input-first-name"
                >First name</label
              >
              <input
                [(ngModel)]="profileFormObject.firstName"
                name="firstName"
                type="text"
                id="input-first-name"
                class="form-control form-control-alternative"
                placeholder="First name"
                value="Lucky"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-email"
                >Email address</label
              >
              <input
                [(ngModel)]="profileFormObject.email"
                name="email"
                type="email"
                id="input-email"
                class="form-control form-control-alternative"
                placeholder="email@example.com"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group focused">
              <label class="form-control-label" for="input-last-name"
                >Last name</label
              >
              <input
                [(ngModel)]="profileFormObject.lastName"
                name="lastName"
                type="text"
                id="input-last-name"
                class="form-control form-control-alternative"
                placeholder="Last name"
                value="Jesse"
              />
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4" />
      <!-- Address -->
      <h6 class="heading-small text-muted mb-4">Contact information</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group focused">
              <label class="form-control-label" for="input-address"
                >Address</label
              >
              <input
                [(ngModel)]="profileFormObject.address"
                name="address"
                id="input-address"
                class="form-control form-control-alternative"
                placeholder="Home Address"
                value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
                type="text"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group focused">
              <label class="form-control-label" for="input-city">City</label>
              <input
                [(ngModel)]="profileFormObject.city"
                name="city"
                type="text"
                id="input-city"
                class="form-control form-control-alternative"
                placeholder="City"
                value="New York"
              />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group focused">
              <label class="form-control-label" for="input-country"
                >Country</label
              >
              <input
                [(ngModel)]="profileFormObject.country"
                name="country"
                type="text"
                id="input-country"
                class="form-control form-control-alternative"
                placeholder="Country"
                value="United States"
              />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-country"
                >Postal code</label
              >
              <input
                [(ngModel)]="profileFormObject.postalCode"
                name="postalCode"
                type="number"
                id="input-postal-code"
                class="form-control form-control-alternative"
                placeholder="Postal code"
              />
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4" />
    </form>
  </div>

  <div class="container">
    <div class="row">
      <div class="col text-center mb-4">
        <button class="btn btn-primary btn-lg" (click)="onsubmit()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
