<nav *ngIf="!isLoggedIn" class="navbar navbar-expand-sm bg-none">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto ml-auto mt-2">
      <li class="nav-item">
        <a class="nav-link" (click)="openJoinModal()">
          <h3 style="font-family: Impact;">Join Us</h3> <span class="sr-only"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openAboutModal()">
          <h3 style="font-family: Impact;">About Us</h3> <span class="sr-only"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="setUpModal()">
          <h3 style="font-family: Impact;">Wallet Set Up</h3><span class="sr-only"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<nav *ngIf="isLoggedIn" class="navbar navbar-expand-sm bg-none">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item" (click)="lotteryNavigate()">
        <a class="nav-link">
          <h3 style="font-family: Impact;">Lottery</h3> <span class="sr-only"></span>
        </a>
      </li>
      <li class="nav-item" (click)="workingModal()">
        <a class="nav-link">
          <h3 style="font-family: Impact;">NFT Market</h3> <span class="sr-only"></span>
        </a>
      </li>
      <li class="nav-item" (click)="workingModal()">
        <a class="nav-link">
          <h3 style="font-family: Impact;">Options</h3><span class="sr-only"></span>
        </a>
      </li>
      <li class="nav-item" (click)="workingModal()">
        <a class="nav-link">
          <h3 style="font-family: Impact;">Our Goals</h3><span class="sr-only"></span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav  ml-auto">
      <li class="nav-item" (click)="homeNavigate()">
        <a class="nav-link">
          <h3 style="font-family: Impact;">Home</h3><span class="sr-only"></span>
        </a>
      </li>
      <li class="nav-item" (click)="logOut()">
        <a class="nav-link">
          <h3 style="font-family: Impact;">Log Out</h3><span class="sr-only"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<nav *ngIf="isLoggedIn" class="mobile-nav d-inline">
  <div class="link-container">
    <strong (click)="lotteryNavigate()">
      Lottery
    </strong>
    <strong (click)="workingModal()">
      NFT Market
    </strong>
    <strong (click)="workingModal()">
      Options
    </strong>
    <strong (click)="workingModal()">
      Our Goals
    </strong>
    <strong (click)="homeNavigate()">
      Home
    </strong>
    <strong (click)="logOut()">
      Log Out
    </strong>
  </div>
</nav>