.white-placeholder::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
  }

  #nftName{
    width:70%;
  }

  @media only screen and (max-width: 600px) {
    .small-message {
     display: none;   
      }
      .close-icon {
          color:white;
            position:relative;
            left: 95%;
            top:.25rem;
      }
  }

  @media only screen and (min-width: 600px) {
      .close-icon {
         display: none;

      }
  }
