<div class="container">
    <div class="row d-flex">
        <div class="col-md-12 mt-3 text-center">
            <button class="btn btn-sm btn-primary text-center ml-2" (click)="addNftLikes()">
                <span *ngIf="nft?.nftData.likes != 0" class="d-inline mr-2">{{ nft?.nftData.likes }}</span>
                <i class="far fa-thumbs-up fa-2x mt-1"></i>
            </button>
            <button class="btn btn-sm btn-success text-center ml-2">
                <img src="../../../../assets/img/resizedBtnCoin.png" />
                <span class="d-inline mr-2"><strong class="ml-1">Bid On</strong></span>
            </button>
        </div>
    </div>
</div>