/* You can add global styles to this file, and also import other style files */

.bg-company-blue {
  background-color: rgb(19, 16, 36) !important;
}
.btn-brand-color {
  background: rgb(166, 79, 245) !important;
}
.bg-company-blue {
  background-color: rgb(39, 41, 61) !important;
}


.brand-color-animation {
  background-color: rgb(15, 16, 36);
}

.brand-color-animation:last-child {
  clear: both;
}
@keyframes color {
  0% {
    background-color: rgb(20, 41, 35);
  }
  10% {
    background-color: rgb(25, 21, 40);
  }
  20% {
    background-color: rgb(30, 21, 45);
  }
  30% {
    background-color: rgb(35, 41, 50);
  }
  40% {
    background-color: rgb(40, 41, 55);
  }
  50% {
    background-color: rgb(45, 41, 60);
  }
  60% {
    background-color: rgb(50, 13, 65);
  }
  70% {
    background-color: rgb(55, 28, 34);
  }
  80% {
    background-color: rgb(60, 41, 75);
  }
  90% {
    background-color: rgb(65, 41, 80);
  }
  100% {
    background-color: rgb(70, 41, 85);
  }
}

.brand-color-animation {
  animation: color 16s infinite;
}

.light {
  background-color: rgb(121, 141, 179);
}
