.boldSales {
    font-style: bolder;
    font-family: "serif";
    color: darkblue;
    font-weight: 900;
    margin-left: 12px;
  }
  
  .pageTitle {
      font-weight: bolder;
      font-style: oblique;
      font-family: 'Times New Roman';
      color: black;
      font-weight: 600;
  
  }
  
  .walletAddress {
      font-style: bolder;
      font-family: "serif";
      color: rgb(4, 4, 49);
      font-weight: 100;
      margin-left: 5px;
  }
  